fschat==0.2.23
pandas 
seaborn 
matplotlib 
numpy 
datasets 
evaluate
anthropic 
google-generativeai 
openai
SentencePiece
accelerate
google-cloud-aiplatform
langchain-community
faiss-cpu
langchain-huggingface
sentence-transformers
transformers
pyyaml>=6.0.1
requests>=2.31.0
python-dotenv>=1.0.0